@{

    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}

@using NCKH.Models;
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    var advisor_id = HttpContextAccessor.HttpContext.Session.GetString("advisor_id");
}
@functions {
    public MyDbContext db = new MyDbContext();
    
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Create New</h4>
            <form class="forms-sample" method="post" enctype="multipart/form-data" action="@ViewBag.action">   
                <input type="hidden" name="id_class" value="@Model" />               
                <div class="form-group">
                    <label for="exampleInputEmail3">Semester</label>
                    <input type="text" name="semester" class="form-control" id="exampleInputEmail3" placeholder="Semester" />
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Year</label>
                    <input type="text" name="year" class="form-control" id="exampleInputEmail3" placeholder="Year" />
                </div>
                <div class="form-group">
                    <h3>Upload</h3>
                    <input class="form-control" style="height:max-content" name="formfile" multiple="multiple" type="file" />
                </div>

                <button type="submit" class="btn btn-primary mr-2" value="Upload">Submit</button>                
            </form>
            
        </div>
    </div>
</div>
